:root {
  --text-grey: #a9b5c3;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
/*********** HEADER ***********/

header {
  /* border: 1px solid red; */
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0px 30px;
  border-bottom: 1px solid rgb(182, 182, 182);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.logo-empresa {
  height: 80%;
}

/*********** NAVBAR ***********/
.navbar,
.list-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-navbar a {
  color: black;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.navbar {
  gap: 100px;
}

.list-navbar {
  gap: 30px;
  padding-right: 150px;
}

#menu-toggle,
.menu-label {
  display: none;
}
/*********** MAIN ***********/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/*********** HERO ***********/
#hero {
  margin-top: 40px;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0px;
  gap: 20px;
  width: 50%;
}

.hero-info h1 {
  font-size: 48px;
  width: 60%;
  font-weight: 700;
}

.hero-info p {
  font-size: 16px;
  width: 80%;
  color: var(--text-grey);
}

.botones-container {
  display: inline-block;
  margin-top: 20px;
}

.boton-call,
.boton-learn {
  width: 190px;
  height: 35px;
  border-radius: 20px;
  cursor: pointer;
}

.boton-call {
  background-color: black;
  color: white;
  font-weight: 700;
}

.boton-learn {
  background-color: white;
  border: 3px solid black;
  margin-left: 15px;
  font-weight: 700;
}

.hero-image {
  width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*********** ABOUT ***********/
#about {
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#about p {
  color: var(--text-grey);
  font-size: 16px;
  width: 55%;
  text-align: center;
}

/*********** CARDS ***********/
#cards {
  /* border: 1px solid green; */
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}

#cards h2 {
  font-size: 32px;
  font-weight: 800;
}

.cards-parrafo {
  color: var(--text-grey);
  font-size: 16px;
  width: 80%;
  text-align: center;
}

.cards-container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.card-info {
  /* border: 1px solid blue; */
  width: 200px;
  height: 200px;
  padding: 40px 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  gap: 20px;
}

.card-info img {
  width: 50px;
}

.card-info h3 {
  font-weight: 600;
  font-size: 18px;
}

.card-info p {
  font-size: 14px;
  font-weight: 300;
}

/*********** CONTACT ***********/
#contacto {
  /* border: 1px solid orange; */
  margin-top: 40px;
  margin-bottom: 10px;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

#contacto h2 {
  font-size: 32px;
  width: 60%;
  font-weight: 700;
  padding-left: 30px;
}

.contacto-container {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: flex-start;
  /* align-items: flex-start; */
  flex-wrap: wrap;
  gap: 20px;
}

.contacto-info {
  width: 250px;
  height: 200px;
  padding: 40px 30px;

  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: inherit;

  gap: 20px;
}

.contacto-info h3{
  font-size: 14px;
}

.contacto-list {
  align-items: start;
}

.contacto-list li {
  margin-bottom: 10px;
}

.contacto-list img{
  width: 75%;
}

.contacto-list span {
  position: absolute;
  padding: 7px 0 0 20px;
  font-size: 12px;
  color: var(--text-grey);
}

.contacto-redes {
  display: flex;
  justify-content: left;
  width: 200px;
}

.contacto-redes img {
  margin-left: 30px;
  width: 40%;
}

.contacto-image img {
  width: 490px;
  height: 420px;
}

/*********** CONTACT ***********/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid rgb(182, 182, 182);
}

footer img {
  width: 70px;
  height: 70px;
}

footer p {
  color: var(--text-grey);
  font-size: 16px;
  width: 80%;
  text-align: center;
}
